[includeIf "gitdir:~/Documents/"]
path = ~/Documents/.gitconfig

[includeIf "gitdir:~/Dada/"]
path = ~/Dada/.gitconfig

[includeIf "gitdir:~/Fafa/"]
path = ~/Fafa/.gitconfig

[core]
excludesfile = ~/.gitignore

[alias]
a = add
s = status -s
ss = status
c = commit
d = diff
ds = diff --stat
l = log --decorate --oneline
ll = log --decorate --oneline --name-status

